<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Test Form</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/fastclick.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/jquery.ui.touch-punch.js"></script>
    <script src="js/form.js"></script>
</head>

<body>
<div class="row">
  <div class="large-12 columns">

    <h2>@</h2>

    <form action="#" method="post">

     <!-- STEP 1 -->
    <fieldset id="step_1">
      
      <legend>Step 1</legend>
      Character name: <input type="text" name="ch_name"><br>

      Race: <input type="text" id="ch_race" placeholder="Choose Below" readonly>

      <dl class="tabs" data-tab>
      <dd class="active">
          <a href="#show_hum" id="panel_hum" class="race_click">Human</a></dd>
      <dd><a class="race_click" id="panel_dwa" href="#show_dwa">Dwarf</a></dd>
      <dd><a class="race_click" id="panel_elf" href="#show_elf">Elf</a></dd>
      <dd><a class="race_click" id="panel_hal" href="#show_hal">Halfling</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="show_hum">
          <div id="human_desc"></div>
        </div>
        <div class="content" id="show_dwa">
          <div id="dwarf_desc"></div>
          </div>
        <div class="content" id="show_elf">
          <div id="elf_desc"></div>
        </div>
        <div class="content" id="show_hal">
          <div id="halfling_desc"></div>
        </div>
      </div>

      <br>
      Size: <input type="text" id="ch_size" placeholder="Choose a Race" readonly />
      Speed: <input type="text" id="ch_speed" placeholder="Choose a Race" readonly />
      Race Languages: <input type="text" id="ch_race_languages" readonly> <br>
      Extra Race Languages: <input type="text" id="ch_race_langcount" value="0" readonly /><br>
      Race Feat: <input type="text" id="ch_race_features" readonly />
      <!--Race Tools: <input type="text" name="ch_race_tools" readonly />-->
      Race Armor Prof: <input type="text" id="ch_race_armor_prof" readonly />
      Race Weapon Prof:<input type="text" id="ch_race_weapon_prof" readonly />
      Race Skill Prof: <input type="text" id="ch_race_skill_prof" readonly />
      
    </fieldset>
    
    
   <!-- STEP 2 -->
		<fieldset id="step_2">
      
      <legend>Step 2</legend>
      Class: <input id="ch_class" type="text" placeholder="Choose Below" readonly>


      <dl class="tabs" data-tab>
      <dd class="active">
          <a href="#panel_fig" id="panel_fig" class="class_click">Fighter</a></dd>
      <dd><a class="class_click" id="panel_wiz"href="#panel_wiz">Wizard</a></dd>
      <dd><a class="class_click" id="panel_rog"href="#panel_rog">Rogue</a></dd>
      <dd><a class="class_click" id="panel_cle" href="#panel_cle">Cleric</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel_fig">
          <p>Fighter info</p>
        </div>
        <div class="content" id="panel_wiz">
          <p>Wizard info</p>
        </div>
        <div class="content" id="panel_rog">
          <p>Rogue info</p>
        </div>
        <div class="content" id="panel_cle">
          <p>Cleric info</p>
        </div>
      </div>
      
      Class: <input id="ch_class" type="text" readonly>
      Hit Points: <input id="ch_hp" type="text" readonly>
      Hit Die: <input id="ch_hd" type="text" readonly>
      Saving Throw Prof.: <input id="ch_stp" type="text" readonly>
      Armor Prof: <input id="ch_armp" type="text" readonly>
      Weapon Prof: <input id="ch_wepp" type="text" readonly>
      Class Tool Prof: <input id="ch_classtool" type="text" readonly>
      Spells: <input id="ch_spellcount" type="text" readonly>
      Skill Prof: <input id="ch_skillcount" type="text" readonly>
      <br>
      
      
		</fieldset>
      
      
    <!-- STEP 3 -->
		<fieldset id="step_3">
      <legend>Step 3</legend>
      Stats: <input id="ch_stats" type="text" readonly>
      Strength: <input id="ch_str" type="text" readonly>
      Dex: <input id="ch_dex" type="text" readonly>
      Con: <input id="ch_con" type="text" readonly>
      Int: <input id="ch_int" type="text" readonly>
      Wis: <input id="ch_wis" type="text" readonly>
      Cha: <input id="ch_cha" type="text" readonly>

      <label for="attr_type">
        Attribute Assignment
      </label>
      <select id="attr_type">
        <option id="opt_0" value="0">Please Choose</option>
        <option id="opt_1" value="dice_roll">Dice Roll</option>
        <option id="opt_2" value="standard_array">Standard Array</option>
        <option id="opt_3" value="point_buy">Point Buy</option>
      </select>
      <br />

      <div id="standard_array_wrap" class="name_wrap">
        <table>
          <tr>
            <td width="400"><ul>
            <li>STRENGTH</li><li>DEXTERITY</li><li>CONSTITUTION</li>
            <li>INTELLIGENCE</li><li>WISOM</li><li>CHARISMA</li>
            </ul></td>

          <td><ul id ="standard" class="sasortable">
              <li id="sa15" class="attr">15</li><li id="sa14" class="attr">14</li>
              <li id="sa13" class="attr">13</li><li id = "sa12" class="attr">12</li>
              <li id="sa10" class="attr">10</li><li id="sa8" class="attr">8</li>
            </ul></td>
          </tr>
        </table>
      </div>

      
     <div id="point_buy_wrap" class="name_wrap">
        Point Buy <div id="pb_total">27</div>
       
      <table>
        <tr>
         <td><ul>
           <li>STRENGTH</li><li>DEXTERITY</li><li>CONSTITUTION</li>
           <li>INTELLIGENCE</li><li>WISOM</li><li>CHARISMA</li>
         </ul></td>
          
         <td><ul>
          <li class="pb_attr" id="pb_str">8</li><li class="pb_attr" id="pb_dex">8</li>
           <li class="pb_attr" id="pb_int">8</li><li class="pb_attr" id="pb_wis">8</li>
          <li class="pb_attr" id="pb_cha">8</li><li class="pb_attr" id="pb_con">8</li>
         </ul></td>

         <td><ul>
         <li><a id="pb_str_plus" class="tiny button">+1</a> <a id="pb_str_min" class="tiny button secondary">-1</a></li>
         <li><a id="pb_dex_plus" class="tiny button">+1</a> <a id="pb_dex_min" class="tiny button secondary">-1</a></li>
         <li><a id="pb_int_plus" class="tiny button">+1</a> <a id="pb_int_min" class="tiny button secondary">-1</a></li>
         <li><a id="pb_wis_plus" class="tiny button">+1</a> <a id="pb_wis_min" class="tiny button secondary">-1</a></li>
         <li><a id="pb_cha_plus" class="tiny button">+1</a> <a id="pb_cha_min" class="tiny button secondary">-1</a></li>
         <li><a id="pb_con_plus" class="tiny button">+1</a> <a id="pb_con_min" class="tiny button secondary">-1</a></li>
         </ul></td>

        </tr>
      </table>
        
     </div>

     <div id="dice_roll_wrap" class="name_wrap">
      <table>
       <tr>
        <td width="400"><ul>
          <li>STRENGTH</li><li>DEXTERITY</li><li>CONSTITUTION</li>
          <li>INTELLIGENCE</li><li>WISOM</li><li>CHARISMA</li>
        </ul></td>

        <td><ul class="drsortable">
         <li class="attr" id="liran1"></li><li class="attr" id="liran2"></li>
         <li class="attr" id="liran3"></li></li><li class="attr" id="liran4"></li></li>
         <li class="attr" id="liran5"></li></li><li class="attr" id="liran6"></li></li>
        </ul></td>
       </tr>
      </table>
     </div>
			
				<div id="attendee_5_wrap" class="name_wrap">
					<label for="name_attendee_5">
							Attendee 5 Name:
					</label>
					<input type="text" id="name_attendee_5" class="name_input"></input>
				</div>
			
			</fieldset>

      
      <!-- STEP 4 -->
    <fieldset id="step_4">
      <legend>Step 4</legend>


      <div class="small-2 medium-1 columns">
        <span id="sliderOutput3"></span>
      </div>
      Alignement:   
      <input type="text" id="ch_alignment" readonly></input>

      <div id = "alignslider" class="range-slider" data-slider data-options="step: 1;start: 1; end: 9; display_selector: #sliderOutput3;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
      </div>
      <br><br>
      Background:
      <input type="text" id="ch_background"></input>
      PUT IN TABS WITH BACKGROUND SELECTORS<br><br>
      Personality Traits:
      <input type="text" id="ch_traits"></input>
      Ideals:
      <input type="text" id="ch_ideas"></input>
      Bonds:
      <input type="text" id="ch_bonds"></input>
      Flaws:
      <input type="text" id="ch-flaws"></input>
      <br>
      Bg Tools: <input type="text" name="ch_bg_tools">
      Age: <input type="text" name="ch_age">
      Height: <input type="text" name="ch_height">
      Weight: <input type="text" name="ch_weight"><br>

    </fieldset>

		

   </form>
	</div>
	</div>

 <script>
  $("#dwarf_desc").load("dwarf.html");
  $("#elf_desc").load("elf.html");
  $("#human_desc").load("human.html");
  $("#halfling_desc").load("halfling.html");
  $(document).foundation();
 </script>

</body>
</html>
